body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe424d;
  color: #e0f2fe !important;
  font-size: 2rem;
}
/* glowing and animation*/
 .glow-button {
  background-color: #fe424d;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  /* box-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6, 0 0 30px #3b82f6; */
  animation: pulseGlow 2s infinite;
  transition: 0.3s ease;
}

/* .glow-button:hover {
  box-shadow: 0 0 15px #3b82f6, 0 0 30px #3b82f6, 0 0 45px #3b82f6;
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 5px #3b82f6, 0 0 10px #3b82f6, 0 0 15px #3b82f6;
  }
  50% {
    box-shadow: 0 0 15px #3b82f6, 0 0 30px #3b82f6, 0 0 45px #3b82f6;
  }
  100% {
    box-shadow: 0 0 5px #3b82f6, 0 0 10px #3b82f6, 0 0 15px #3b82f6;
  }
} */

.nav-link {
  color: #222222 !important;
} */

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 20px;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-brand {
  width: 100%;
  font-size: 1.2rem;
  margin-right: 2rem;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
}
.f-info-socials i {
  /* font-size: 1.2rem; */
  margin-right: 1rem;
}
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400px !important;
}
.listing-link {
  text-decoration: none;
}
/* card effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
/* new page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/* edit page */
.edit-btn {
  /* background-color: #fe424d !important; */
  border: none !important;
}
/* show page */
.show-img {
  height: 30vh;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}
/*map*/
#map {
  height: 400px;
  width: 80vh;
}
